body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container {
	margin: 0 auto;
	width: 1200px;
}

body{
	font-family: 'Crimson Text', serif;
	color: #666;
}

h1 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #333;
}

h2 {
	margin-top: 0;
	font-size: 18px;
	font-weight: normal;
	font-family: 'Crimson Text', serif;
	font-style:italic;
	border-bottom: dotted 1px #00B7FF;
	padding-bottom: 20px;
	color: #666;
	margin-bottom: 40px;
}


a {
  color: #00B7FF;
}

ul {
	list-style-type: none;
	margin: 40px 0 0 0;
	padding: 0;
}

ul li {
	margin-bottom: 40px;
}
