<%- include('partials/header') %>

<section id="create">
    <form id="createForm"
        method="post" 
        action="http://localhost:3002/api/movie/new"
    >
        <h2>Create A New Movie</h2>

        <label for="title">Title:</label>
        <input id="title" name="title" placeholder="ex. 40 Year Old Virgin" type="text">

        <label for="director">Director:</label>
        <input id="director" name="director" placeholder="ex. Seth Rogan" type="text">

        <label for="bio">Bio:</label>
        <textarea name="bio" id="bio" cols="20" rows="3" placeholder="ex. a cool bio about this super lame movie"></textarea>
        
        <label for="year">Year:</label>
        <input id="year" name="year" placeholder="ex. 1998" type="text">

        <label for="genre">Genre:</label>
        <input id="genre" name="genre" placeholder="ex. Drama" type="text">

        <label for="time">Run Time:</label>
        <input id="time" name="time" placeholder="ex. 2h 12m" type="text">
        
        <label for="rated">Rated:</label>
        <input id="rated" name="rated" placeholder="ex. R" type="text">

        <label for="rating">Rating:</label>
        <input id="rating" name="rating" placeholder="ex. 6.2" type="text">

        <label for="cover">Cover:</label>
        <input id="cover" name="cover" placeholder="ex. harry_potter.jpg" type="file" accept="image/png, image/jpg">

        <label for="thumbnail">Thumbnail:</label>
        <input id="thumbnail" name="thumbnail" placeholder="ex. 6.2" type="file" accept="image/png, image/jpg">

        <input type="submit" value="CREATE MOVIE" id="submit">

    </form>

</section>



<%- include('partials/footer') %>
