<%- include('partials/header') %>


<h3>Add a new movie:</h3>
<form method="post" action="http://localhost:3002/api/movie/new">

    <label for="fname">First Name:</label>
    <input id="fname" name="fname" placeholder="ex. Sleepy" type="text">

    <label for="lname">Last Name:</label>
    <input id="lname" name="lname" placeholder="ex. Joe" type="text">

    <label for="program">Program:</label>
    <input id="program" name="program" placeholder="ex. IDP" type="text">

    <label for="email">Email:</label>
    <input id="email" name="email" placeholder="ex. sleepyjoe@example.com" type="email">

    <input type="submit" value="add">

</form>


<%- include('partials/footer') %>
