<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" href="https://use.typekit.net/rau6bmr.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>

</head>

<header>
    <div id="headCon">
        <img src="/images/logo.svg" alt="Cinema @ Home Logo">
        <nav id="mainNav">
            <h2 class="hidden">Main Navigation</h2>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/api/movies/list">MOVIES</a></li>
                <li><a href="/create">CREATE</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>

    <div class="pageTransition">
        
    </div>
<main>



<section>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</section>

<a href="/api/movies/list">RETURN</a>


</main>
<footer id="footerCon">
    <p>DESIGNED AND DEVELOPED BY GRAHAM VICKERS &COPY;</p>
</footer>
<script src="/js/main.js"></script>
</body>
</html>