<%- include('partials/header') %>


<% let counter = 0 %>
<section id="landing">
  <h2>Welcome to Cinema @ Home</h2>

  <p>Built and Designed by Graham Vickers</p>
  <p>This website was built in conjunction with my Story and Concept class at Fanshawe College in London Ontario.
      The basis of this application was built using Node with EJS, MongoDB for the database, JSON for data, JS for function and animations, Greensock libraries for the transitions, CSS6 complied by SASS, and HTML5 markup for front end view.
  </p>
  <a href="/api/movies/list">SEE MOVIES</a>

</section>

  
 
  <%- include('partials/footer') %>
