<%- include('partials/header') %>


<% let counter = 0 %>
<h2>Welcome to the <%= title %></h2>
<section>
  <p>THIS IS A SUPER FUN PROJECT I WORKED OON USING THE FOLLOWING LANGUAGES:</p>
  <li><a href="/api/movies/list">LIST</a></li>

</section>

  
 
  <%- include('partials/footer') %>
