<%- include('partials/header') %>


<% let counter = 0 %>
<section id="landing">
  <div id="landingCon">
    <div>
      <h2>Welcome to Cinema @ Home</h2>
      <p>This website was built in conjunction with my Story and Concept class at Fanshawe College in London Ontario.
          This application was built using Node with EJS, MongoDB for the database, JSON for data, JS for function and animations, Greensock libraries for the transitions, CSS6 complied by SASS, and HTML5 markup for front end view.
          Explore the website by browsing through the movies content and view them in detail with the ability to remove the movie or edit it. You can also create new movies by uploading the required content.
      </p>
      <p>Design and Development by Graham Vickers</p>

      <a href="/api/movies/list">SEE MOVIES</a>
    </div>
    <div>
      <img src="/images/cinema.svg" alt="guy sitting on couch">
    </div>
  </div>

  

</section>

  
 
  <%- include('partials/footer') %>
