html, body {
  height: 100%;
  margin: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='2000' preserveAspectRatio='none' viewBox='0 0 2000 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='2000' height='2000' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M386.36 500C446.28 303.22 185.03 163.63 222.22 0C241.85 -86.37 361.11 0 500 0C638.89 0 651.07 -38.99 777.78 0C901.07 37.94 878.23 97.65 1000 153.85C1239.34 264.31 1330.83 380.37 1500 333.33C1607.5 303.44 1445.72 71.74 1553.33 0C1695.72 -94.93 1894.62 -117.96 2000 0C2117.96 132.04 2000 250 2000 500C2000 750 2000 750 2000 1000C2000 1250 2000 1250 2000 1500C2000 1750 2125 1875 2000 2000C1875 2125 1750 2000 1500 2000C1250 2000 1250 2000 1000 2000C750 2000 750 2000 500 2000C250 2000 125 2125 0 2000C-125 1875 0 1750 0 1500C0 1250 0 1250 0 1000C0 864.87 -72.54 823.6 0 729.73C120.64 573.6 335.17 668.08 386.36 500' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1500 605.26C1384 605.26 1173.91 813.78 1173.91 1000C1173.91 1161.15 1378.29 1300 1500 1300C1585.98 1300 1589.29 1151.49 1589.29 1000C1589.29 804.12 1591.69 605.26 1500 605.26' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M500 1328.77C425.45 1328.77 349.4 1411.08 349.4 1500C349.4 1599.16 425.56 1704.92 500 1704.92C573.54 1704.92 645.35 1599.3 645.35 1500C645.35 1411.23 573.43 1328.77 500 1328.77' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M500 100C476.85 100 453.7 35.21 453.7 0C453.7 -14.79 476.85 0 500 0C523.15 0 546.3 -14.79 546.3 0C546.3 35.21 523.15 100 500 100' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M704.08 500C836.68 389.02 852.46 314.1 1000 314.1C1145.42 314.1 1290 388.31 1290 500C1290 638.87 1151.59 664.39 1000 815.22C900.34 914.39 903.02 920.91 787.5 1000C653.02 1092.07 623.1 1052.98 500 1157.53C328.75 1302.98 318.11 1308.91 198.8 1500C68.11 1709.31 51.84 1958.33 0 1958.33C-47.56 1958.33 0 1729.16 0 1500C0 1282.89 -35.56 1264.93 0 1065.79C9.08 1014.93 43.16 1030.75 89.29 1000C293.16 864.13 311.56 885.81 500 732.56C618.96 635.81 586.68 598.25 704.08 500' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1800 500C1795.46 249.37 1655.61 160.98 1720 0C1755.61 -89.02 1949.74 -89.74 2000 0C2089.74 160.26 2000 250 2000 500C2000 750 2000 750 2000 1000C2000 1224.49 2060.69 1448.98 2000 1448.98C1929.74 1448.98 1788.88 1240.95 1738.1 1000C1688.88 766.46 1804.51 749.37 1800 500' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M790.7 1500C901.34 1334.16 873.81 1160.38 1000 1160.38C1154.93 1160.38 1180.98 1325.87 1352.94 1500C1430.98 1579.02 1403.23 1619.93 1500 1666.67C1726.76 1776.18 1816.18 1689.95 2000 1812.5C2066.18 1856.62 2068.18 1974.43 2000 2000C1818.18 2068.18 1750 2000 1500 2000C1250 2000 1250 2000 1000 2000C750 2000 750 2000 500 2000C303.57 2000 107.14 2022.25 107.14 2000C107.14 1977.17 347.87 2021.12 500 1909.84C689.65 1771.12 651.34 1708.89 790.7 1500' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M959.18 500C959.18 484.55 979.65 474.36 1000 474.36C1020.06 474.36 1040 484.6 1040 500C1040 519.16 1020.11 543.48 1000 543.48C979.7 543.48 959.18 519.11 959.18 500' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2000 303.57C1970.74 303.57 1886.67 112.45 1886.67 0C1886.67 -39.33 1984.6 -41.26 2000 0C2041.26 110.52 2027.41 303.57 2000 303.57' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1886.9 1000C1886.9 846.91 1970.88 683.33 2000 683.33C2027.43 683.33 2000 841.66 2000 1000C2000 1096.94 2026.21 1193.88 2000 1193.88C1969.66 1193.88 1886.9 1102.19 1886.9 1000' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1394.74C12.62 1394.74 48.19 1447.13 48.19 1500C48.19 1555.31 12.57 1611.11 0 1611.11C-11.53 1611.11 0 1555.55 0 1500C0 1447.37 -11.47 1394.74 0 1394.74' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M936.05 1500C936.05 1444.3 961.44 1396.23 1000 1396.23C1047.34 1396.23 1107.84 1439.9 1107.84 1500C1107.84 1590 1044.69 1696.43 1000 1696.43C958.8 1696.43 936.05 1594.4 936.05 1500' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1386.36 2000C1386.36 1985.37 1444.37 1944.44 1500 1944.44C1547.49 1944.44 1592.59 1985.04 1592.59 2000C1592.59 2012.82 1546.3 2000 1500 2000C1443.18 2000 1386.36 2013.15 1386.36 2000' stroke='rgba(216%2c 120%2c 45%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='2000' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.hidden {
  display: none;
}

main {
  padding: 40px 60px 40px 60px;
  min-height: 73%;
}

h2 {
  font-family: sinter, sans-serif;
  font-size: 42px;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: sinter, sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
}

label {
  font-family: sinter, sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: sinter, sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.pageTransition {
  position: fixed;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  background-color: #dc730b;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

#landing h2 {
  font-weight: 800;
  font-size: 48px;
  color: #d8782d;
  margin-bottom: 30px;
}

#landing p {
  margin-bottom: 20px;
  line-height: 24px;
  margin-bottom: 40px;
}

#landing p:nth-child(even) {
  font-size: 24px !important;
  line-height: 32px;
  margin-bottom: 20px;
}

#landing a {
  background: #d8782d;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

#error {
  margin-top: 40px;
  margin-bottom: 40px;
  background: #d8782d;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

#landingCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#landingCon img {
  max-height: 400px;
  margin-left: 80px;
}

#headCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f3f3f3;
  padding: 30px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

#headCon img {
  width: 200px;
}

#mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mainNav a:hover {
  color: #d8782d;
}

select {
  margin-top: 20px;
  width: 120px;
  border: 2px solid #d8782d;
  padding: 3px;
  border-radius: 5px;
  font-family: sinter, sans-serif;
  font-size: 16px;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
}

#moviesContainer {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movieCon {
  background-color: #f3f3f3eb;
  border-radius: 5px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  margin: 20px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.movieCon img {
  width: 150px;
  margin-bottom: 20px;
}

.movieCon a {
  text-decoration: none;
  font-family: sinter, sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
  width: 150px;
  line-height: 24px;
}

.movieCon:hover {
  background-color: rgba(216, 119, 45, 0.845);
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
}

#detailsCon {
  background: #f3f3f3e2;
  border-radius: 10px;
  padding: 30px 40px 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#detailsCon h2 {
  width: 260px;
}

#detailsCon div {
  margin-right: 40px;
}

#detailsCon img {
  margin-top: 20px;
}

#details {
  list-style: none;
  text-decoration: none;
  margin-top: 60px;
}

#details li p {
  margin-bottom: 15px;
}

#bio {
  font-size: 20px;
  font-weight: 600;
}

#actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

#actions a {
  background: #d8782d;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40px;
  margin-left: 40px;
}

#createForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
  font-family: sinter, sans-serif;
  font-size: 18px !important;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  margin-top: 40px;
  background: #f3f3f3;
  padding: 40px;
}

#createForm h2 {
  margin-bottom: 30px;
  line-height: 56px;
  border-bottom: 1px solid #2f2f2f;
  max-width: 460px;
}

textarea, input {
  font-family: sinter, sans-serif;
  font-size: 18px !important;
  color: #2f2f2f;
  background: #f7f7f7;
  font-weight: 400 !important;
  font-style: normal;
  line-height: 24px;
  padding: 5px;
  border: 2px solid #d8782d;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}

#submit {
  background: #d8782d;
  border-radius: 5px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#submit:hover {
  cursor: pointer;
}

#footerCon {
  padding: 30px;
  background: #2f2f2f;
}

#footerCon p {
  color: #d8782d;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */