.hidden {
  display: none;
}

main {
  padding: 40px 60px 40px 60px;
}

h2 {
  font-family: sinter, sans-serif;
  font-size: 42px;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: sinter, sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: sinter, sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

#headCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f3f3f3;
  padding: 30px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

#headCon img {
  width: 200px;
}

#mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mainNav a:hover {
  color: #d8782d;
}

#moviesContainer {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movieCon {
  background-color: #f3f3f3;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  margin: 20px;
}

.movieCon img {
  width: 150px;
  margin-bottom: 20px;
}

.movieCon a {
  text-decoration: none;
  font-family: sinter, sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
  width: 150px;
  line-height: 24px;
}

.movieCon:hover {
  cursor: pointer;
}

#detailsCon {
  background: #f3f3f3;
  padding: 30px 40px 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#detailsCon div {
  margin-right: 40px;
}

#detailsCon img {
  margin-top: 20px;
}

#details {
  list-style: none;
  text-decoration: none;
  margin-top: 60px;
}

#details li p {
  margin-bottom: 15px;
}

#bio {
  font-size: 20px;
  font-weight: 600;
}

#actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

#actions a {
  background: #d8782d;
  padding: 10px 20px 10px 20px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40px;
  margin-left: 40px;
}

#footerCon {
  padding: 30px;
  background: #2f2f2f;
}

#footerCon p {
  color: #f3f3f3;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */