body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2{
  font-family: sinter, sans-serif;
  font-size: 42px;
  color: #2f2f2f;
  font-weight: 400;
  font-style: normal;
}
a {
  color: #00B7FF;
}
