<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" href="https://use.typekit.net/rau6bmr.css">
</head>

<header>
    <div id="headCon">
        <img src="/images/logo.svg" alt="Cinema @ Home Logo">
        <nav id="mainNav">
            <h2 class="hidden">Main Navigation</h2>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/api/movies/list">MOVIES</a></li>
                <li><a href="/create">CREATE</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>

<main>
